<h1>Directives in Angular</h1>

<h2>Structural Directives</h2>

<h3>*****************NgIf*****************</h3>

<p *ngIf="isDisplay">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni qui ea iste accusantium a esse,
  cupiditate sequi quas obcaecati tenetur beatae recusandae sapiente ad est illo illum eius? Animi, omnis!</p>

<!-- A tricky task :) -->
<button (click)="toggle()">{{buttonName}}</button>

<h3>*****************NgFor*****************</h3>
<table border="5" *ngIf="students.length>0">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>
    </tr>
  </tbody>
</table>