h1{
  text-align: center;
  color:red;
}

h2{
  text-align: center;
  color:blue;
}

h3{
  color: crimson;
}

/*ngClass*/
.valid{
  color: green;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin: 10px 0;
}

.invalid{
  color: red;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin: 10px 0;
}
