<h1>Directives in Angular</h1>

<h2>Structural Directives</h2>

<h3>*****************NgIf*****************</h3>

<p *ngIf="isDisplay">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni qui ea iste accusantium a esse,
  cupiditate sequi quas obcaecati tenetur beatae recusandae sapiente ad est illo illum eius? Animi, omnis!</p>

<!-- A tricky task :) -->
<button (click)="toggle()">{{buttonName}}</button>

<h3>*****************NgFor*****************</h3>
<table border="5" *ngIf="students.length>0">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>
    </tr>
  </tbody>
</table>

<h3>*****************NgSwitchCase*****************</h3>
<h3>ngSwitch Ex</h3>
<select name="theme" [(ngModel)]="selectedTheme">
  <option value="red">Red</option>
  <option value="yellow">Yellow</option>
  <option value="green">Green</option>
</select>

<div [ngSwitch]="selectedTheme">
  <p *ngSwitchCase="'red'">Selected theme is red</p>
  <p *ngSwitchCase="'yellow'">Selected theme is yellow</p>
  <p *ngSwitchCase="'green'">Selected theme is green</p>
  <p *ngSwitchDefault="''">You haven't selected any theme</p>
</div>

<h2>Attribute Directives</h2>
<h4>There are 2 types :: 1. ngStyle 2. ngClass</h4>
<h3>ngStyle</h3>

<form>
  <h5 [ngStyle]="{'color':p_color}">{{msg}}</h5>
  Username: <input type="text" [(ngModel)]="User.username" name="username" id="username"> <br> <br>
  Password: <input type="text" [(ngModel)]="User.password" name="password" id="password"> <br> <br>
  <button (click)="login()">Login</button>
</form>

<p [ngStyle]="{'color':p_color}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint libero velit animi porro
  ea omnis repudiandae aperiam quis blanditiis, cum, assumenda odit nostrum optio fugit? Rerum vero repellendus
  perspiciatis nisi.</p>


<h3>ngClass</h3>
<p [ngClass]="isTrue?'valid':'invalid'">This paragraph css will be changed(dynamically) using ngClass</p>
//Another way 1 (using multiple classes inside curly braces)
<p [ngClass]="{'valid':isTrue,'invalid':!isTrue}">This paragraph css will be changed(dynamically) using ngClass</p>
//Another way 2 (using a num variable)
<p [ngClass]="{'valid':num==1,'invalid':num==2}">This paragraph css will be changed(dynamically) using ngClass</p>
